{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styleDetail.css' %}">

<h1 id="title">
    {{ question.question_text }}
</h1>

<div id="choices">
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li class="{{msg.tags}}">
                {{msg}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label><br>
            {% endfor %}
        <input type="submit" value="Vote" id="vote_box">
    </form>
    <a href="{% url 'polls:index' %}">
        <input type="button" value="Back to Main Page">
    </a>
</div>