{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styleDetail.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<h1 id="title">
    {{ question.question_text }}
</h1>

<div id="choices">
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li class="{{msg.tags}}">
                {{msg}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            {% if choice.id is question.vote.selected_choice_id %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked="checked">
            {% else %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            {% endif %}
                    <label for="choice{{ forloop.counter }}">
                        {{ choice.choice_text }}
                    </label><br>
        {% endfor %}
        <input type="submit" value="Vote" id="vote_box">
    </form>
    <a href="{% url 'polls:index' %}">
        <button type="button" class="btn btn-secondary">Back to Main Page</button>
    </a>
</div>