li a {
    color: rgb(216, 84, 32);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /* background-color: aqua; */
    marker: none;
}

li a:hover {
    color: rgb(90, 139, 25);
}

body {
    background: white url("images/7a.jpg") no-repeat;
    margin: 0%;
    padding: 0%;
    /* color: rgb(216, 84, 32);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    marker: none; */
}

#sakura {
    float: left;
    width: 35%;
}


#question ul{
    list-style-type: none;
    text-decoration: none;
    float: right;
    width: 60%;
    margin-top: 60px;
    margin-right: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(216, 84, 32);
    /* background-color: blue; */

}

