li a {
    color: darkblue;
    list-style-type: none;
}

body {
    background: white url("images/ec8.jpg") no-repeat;
    background-size: cover;
}

#title {
    text-align: center;
    color: rgb(94, 52, 5);
    font-family: monospace;
    padding-top: 20px;
    font-size: 250%;
    font-weight: bolder;
    /* background-color: chartreuse; */
}

#choices ul{
    list-style-type: none;
    display: block;
    color: rgb(122, 21, 21);
    font-family: monospace;
    margin: 25%;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 150%;
    font-weight: bold;
    /* background-color: rgb(248, 252, 235); */
}

td {
    color: rgb(122, 21, 21);
    font-family: monospace;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    /* padding-left: 70px; */
    padding-top: 10px;
    font-size: 150%;
    font-weight: bold;
    /* background-color: rgb(248, 252, 235); */
}

#vote_box {
    background-color: rgb(177, 235, 150);
    font-family: monospace;
    color: rgb(199, 68, 20);
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgb(48, 143, 4);
    
}

#column2 {
    /* background-color: aqua; */
    margin-top: 15%;
    width: 100%;
}

/* #back button{
    background-color: rgb(177, 235, 150);
    font-family: monospace;
    color: rgb(199, 68, 20);
    border-color: rgb(48, 143, 4);
} */

#button1 {
    margin-bottom: auto;
}

/* #vote_again {
    background-color: rgb(177, 235, 150);
    font-family: monospace;
    color: rgb(199, 68, 20);
    margin-top: auto;
    border-radius: 5px;
    border-color: rgb(48, 143, 4);
    text-decoration: none;  
    padding-left: 7px; 
} */

/* #vote_again:hover {
    color: deeppink;
} */